.headerList {
  li {
    a {
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      &:hover {
        background-color: orange;
      }
    }
  }
}
.menuMobile {
  opacity: 0;
  transform: translateX(-100%);
  transition:
    opacity 500ms ease-in,
    transform 500ms ease-in;
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  ul {
    li {
      padding: 15px 30px;
    }
  }
}
