.headerList {
  li {
    position: relative;
    &:hover {
      ul {
        display: block;
      }
    }
    a {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    ul {
      position: absolute;
      top: 2rem;
      left: 1.125rem;
      z-index: 2;
      border-radius: 0.5rem;
      border: 1px solid var(--color-gray-300);
      background: white;
      padding-top: 0.35rem;
      padding-bottom: 0.35rem;
      li {
        padding-left: 0.35rem;
        padding-right: 0.35rem;
        a {
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          display: block;
          text-wrap: nowrap;
          background: white;
          &:hover {
            background: var(--color-gray-300);
          }
        }
      }
    }
  }
}
.menuMobile {
  opacity: 0;
  transform: translateX(-100%);
  transition:
    opacity 500ms ease-in,
    transform 500ms ease-in;
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  ul {
    li {
      padding: 15px 30px;
    }
  }
}
.logo {
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--font-jost);
}
